ol,
ul {
  list-style: none;
}

.mybody {
  font-family: "Open Sans", sans-serif;
  background-color: #60a9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  margin: 20px;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
}
.pricing-plan:last-child {
  border-bottom: none;
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 50%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  margin: 25px 0 25px;
  color: #016ff9;
}

.pricing-features-item {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016ff9;
  display: block;
  font-size: 25px;
  font-weight: 700;
}
.aboutUs {
  color: #016ff9;
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    border-right: none;
  }
}
