.dashboard {
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
  /* margin-top: 5vh; */
  /* font-size: 35px; */
}
.dashboard-top {
  font-size: 25px;
  text-align: center;
  /* margin: 5px; */
}

.profile {
  margin: 5px;
  font-weight: bold;
  width: 26%;
  border-radius: 10px;
  /* min-width: 25vw; */
  background-color: rgb(235 236 236 / 50%);
  font-size: large;
  padding: 5px;
}

.profile-data {
  margin: 5px;
  padding: 2px;
}

.profile-data span {
  color: rgb(26, 0, 140);
}



.update-btn {
  min-width: 25vw;
  margin: 5px;
}

.chat {
  position: fixed;
  bottom: 20px;
  right: 60px;
  /* width: auto; */
}

.chat-icon {
  font-size: 100px;
}

.profile-update {
  width: 50%;
  
  margin: auto;
}

.fixed-position-navbar {
  position: sticky;
  left: 0%;
  top: 0%;
  z-index: 1;
}

.fixed-position {
  position: sticky;
  /* left: 25%; */
  top: 9%;
  z-index: 1;
  margin: auto;
}

.chat-section {
  /* margin-top: 20px; */
  
  margin: auto;
  width: 30vw;
  overflow-y: scroll;
  height: 65vh;
}

#background-image {
  height: 91.5vh;
  /* width: 100%; */
  /* decreasing opacity of image */
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../img/dashboard.jpeg") center/cover no-repeat;
  align-self: stretch;
  overflow-x: hidden; /*hiding overflow in width*/
}


#chat-left{
  background-color: rgb(22 56 19 / 47%);
  width: 36%;
  position: fixed;
  right: 5px;
  max-height: 500px;
  /* left: 900px; */

}